@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  height: 100px;
  background-color: #1f2937;
  align-items: center;
  justify-content: space-around;
}

.header .header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar {
  display: flex;
  gap: 25px;
}

.header li {
  list-style: none;
}

.navbar li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  padding-top: 50px;
  padding-bottom: 120px;
}

.hero-text {
  width: 360px;
  margin-left: 90px;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.sign-up {
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  padding: 6px 24px;
  color: #f9faf8;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 200px;
  width: 500px;
  margin-top: 50px;
}

.info-title {
  text-align: center;
}

.item-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.info-img {
  height: 150px;
  width: 150px;
  border-radius: 6px;
  border: 2px solid blue;
}

.info-subtext {
  width: 150px;
  text-align: center;
}
